@model IEnumerable<ECommerce_WebApp.Entities.Product>

<div class="container mt-5">
    <h2>Products in Subcategory</h2>

    @if (!Model.Any())
    {
        <div class="alert alert-warning">No products found in this subcategory.</div>
    }
    else
    {
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4 mb-4">
                    @Html.Partial("_ProductCard", product)
                </div>
            }
        </div>

    }
</div>
